@model QuipuWorkItem.Models.Client

@{
    ViewBag.Title = "Client Details";
}

<h2>Client Details</h2>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.FirstName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.LastName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.BirthDate)
    </dt>
    <dd>
        @Model.BirthDate.ToShortDateString()  <!-- Format the date directly here -->
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Address)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Address)
    </dd>
</dl>

<p>
    <a href="@Url.Action("Edit", new { id = Model.ID })" class="btn btn-primary btn-sm">Edit</a> |
    <a href="@Url.Action("Index")" class="btn btn-success btn-sm">Back to List</a>
</p>
